<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>project2-login-example</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BrowseByGenre</servlet-name>
    <servlet-class>BrowseByGenre</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseByGenre</servlet-name>
    <url-pattern>/BrowseByGenre</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BrowseByTitle</servlet-name>
    <servlet-class>BrowseByTitle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrowseByTitle</servlet-name>
    <url-pattern>/BrowseByTitle</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdvancedSearch</servlet-name>
    <servlet-class>AdvancedSearch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvancedSearch</servlet-name>
    <url-pattern>/AdvancedSearch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingCart</servlet-name>
    <servlet-class>ShoppingCart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingCart</servlet-name>
    <url-pattern>/ShoppingCart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sucess</servlet-name>
    <servlet-class>Sucess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sucess</servlet-name>
    <url-pattern>/Sucess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SingleMovie</servlet-name>
    <servlet-class>SingleMovie</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleMovie</servlet-name>
    <url-pattern>/SingleMovie</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>SingleStar</servlet-name>
    <servlet-class>SingleStar</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SingleStar</servlet-name>
    <url-pattern>/SingleStar</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckOut</servlet-name>
    <servlet-class>CheckOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOut</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
  
  <filter>
    <filter-name>LoginFilter</filter-name>
    <filter-class>LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
  </filter-mapping>
</web-app>